In [2]:
from src.params import Params
import numpy as np
import pandas as pd
from selenium import webdriver
import time
params=Params()

In [7]:
league='bundesliga'
driver = webdriver.Firefox(executable_path='./src/geckodriver.exe')
url=params.link_odds_next[league]+'results/'
driver.get(url)
time.sleep(3)
html = driver.page_source
driver.quit()
df=pd.read_html(html)[0]
df=df.iloc[:,[0,2,3,4]]
df.columns=['game','odds_home','odds_draw','odds_away']
def team(x,num):
    try:
        return params.dict_odds_next[league][x.split('-')[num].strip()]
    except:
        return np.nan
df['home_team']=df['game'].apply(lambda x: team(x,0))
df['away_team']=df['game'].apply(lambda x: team(x,1))
df.dropna(inplace=True)
df.drop(columns=['game'],inplace=True)
try:
    df_final.drop(columns=['odds_away','odds_home','odds_draw'],inplace=True)
except:
    pass
return pd.merge(df_final,df,how='left',on=['home_team','away_team'])

In [24]:
league='la_liga'
driver = webdriver.Firefox(executable_path='./src/geckodriver.exe')
url=params.link_odds_next[league]
driver.get(url)
time.sleep(3)
html = driver.page_source
driver.quit()

In [25]:
pd.read_html(html)[2]

                  33. Round 33. Round.1     1     X     2 Unnamed: 5
0       Alaves - Granada CF         0:2  2.12  3.06  3.95  Yesterday
1        Betis - Villarreal         0:2  2.85  3.49  2.41  Yesterday
2     Valencia - Ath Bilbao         0:2  2.47  3.09  3.06  Yesterday
3      Valladolid - Levante         0:0  2.29  3.31  3.20  Yesterday
4   Barcelona - Atl. Madrid         2:2  1.72  3.76  4.93     30.06.
..                      ...         ...   ...   ...   ...        ...
57     Leganes - Valladolid         1:2  2.39  2.82  3.57     13.06.
58     Mallorca - Barcelona         0:4  9.46  5.70  1.30     13.06.
59      Granada CF - Getafe         2:1  3.36  2.87  2.46     12.06.
60       Valencia - Levante         1:1  1.86  3.76  4.08     12.06.
61          Sevilla - Betis         2:0  1.93  3.56  3.98     11.06.

[62 rows x 6 columns]

In [8]:
import sys
sys.path.append('../')
from src.params import Params
from src.get_inputs import get_my_games
from src.add_odds import add_odds_next
import pandas as pd
from model.ger_model import predict_proba
params=Params()
league='premiere_league'
df_final=get_my_games(params.link_leagues[league],params)

In [9]:
df_final

,link,league,date,round,home_team,away_team,home_position_all,away_position_all,home_winperc_all,away_winperc_all,...,home_form_4,home_form_5,away_form_1,away_form_2,away_form_3,away_form_4,away_form_5,home_previous,draw_previous,away_previous
0,https://footystats.org//england/sheffield-unit...,Premier League,"Thu, July 2, 2020",32,Sheffield United,Tottenham Hotspur,10,8,0.35,0.39,...,Win,Lose,Lose,Draw,Lose,Win,Draw,0.00,0.66,0.33
1,https://footystats.org//england/manchester-cit...,Premier League,"Thu, July 2, 2020",32,Manchester City,Liverpool,2,1,0.65,0.90,...,Lose,Win,Draw,Lose,Lose,Lose,Win,0.19,0.37,0.44

In [16]:
df=pd.read_html(html)[0]
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,B's,1,X,2,Unnamed: 8,Unnamed: 9
0,NaN,Sheffield Utd - Tottenham,NaN,NaN,20.0,4.19,3.46,1.93,Today 19:00,Today 19:00
1,NaN,Manchester City - Liverpool,NaN,NaN,20.0,2.01,3.89,3.44,Today 21:15,Today 21:15
2,NaN,Norwich - Brighton,NaN,NaN,20.0,3.30,3.30,2.27,04.07. 13:30,04.07. 13:30
3,NaN,Leicester - Crystal Palace,NaN,NaN,20.0,1.68,3.64,5.61,04.07. 16:00,04.07. 16:00
4,NaN,Manchester Utd - Bournemouth,NaN,NaN,20.0,1.16,7.65,18.52,04.07. 16:00,04.07. 16:00
5,NaN,Wolves - Arsenal,NaN,NaN,20.0,2.30,3.28,3.26,04.07. 18:30,04.07. 18:30
6,NaN,Chelsea - Watford,NaN,NaN,20.0,1.43,4.53,7.76,04.07. 21:00,04.07. 21:00
7,NaN,Burnley - Sheffield Utd,NaN,NaN,20.0,2.84,3.00,2.74,05.07. 13:00,05.07. 13:00
8,NaN,Newcastle - West Ham,NaN,NaN,20.0,2.62,3.29,2.75,05.07. 15:15,05.07. 15:15
9,NaN,Liverpool - Aston Villa,NaN,NaN,20.0,1.34,5.36,8.45,05.07. 17:30,05.07. 17:30
10,NaN,Southampton - Manchester City,NaN,NaN,20.0,9.65,5.40,1.32,05.07. 20:00,05.07. 20:00
11,NaN,Tottenham - Everton,NaN,NaN,20.0,2.06,3.56,3.53,06.07. 21:00,06.07. 21:00
12,NaN,Crystal Palace - Chelsea,NaN,NaN,8.0,5.48,3.93,1.64,07.07. 19:00,07.07. 19:00
13,NaN,Watford - Norwich,NaN,NaN,10.0,1.79,3.78,4.43,07.07. 19:00,07.07. 19:00
14,NaN,Arsenal - Leicester,NaN,NaN,11.0,2.25,3.54,3.10,07.07. 21:15,07.07. 21:15
15,NaN,Manchester City - Newcastle,NaN,NaN,11.0,1.11,8.94,25.59,08.07. 19:00,08.07. 19:00
16,NaN,Sheffield Utd - Wolves,NaN,NaN,11.0,3.52,3.13,2.25,08.07. 19:00,08.07. 19:00
17,NaN,West Ham - Burnley,NaN,NaN,11.0,2.07,3.42,3.66,08.07. 19:00,08.07. 19:00
18,NaN,Brighton - Liverpool,NaN,NaN,NaN,NaN,NaN,NaN,08.07. 21:15,08.07. 21:15
19,NaN,Bournemouth - Tottenham,NaN,NaN,10.0,5.05,3.97,1.67,09.07. 19:00,09.07. 19:00
20,NaN,Everton - Southampton,NaN,NaN,10.0,1.88,3.65,4.12,09.07. 19:00,09.07. 19:00
21,NaN,Aston Villa - Manchester Utd,NaN,NaN,10.0,8.94,5.06,1.35,09.07. 21:15,09.07. 21:15

In [18]:
driver = webdriver.Firefox(executable_path='./src/geckodriver.exe')
url=params.link_odds_next[league]
driver.get(url)
time.sleep(3)
html = driver.page_source
driver.quit()
df=pd.read_html(html)[0]
df=df.iloc[:,[1,5,6,7]]
df.columns=['game','odds_home','odds_draw','odds_away']
def team(x,num):
    try:
        return params.dict_odds_next[league][x.split('-')[num].strip()]
    except:
        return np.nan
df['home_team']=df['game'].apply(lambda x: team(x,0))
df['away_team']=df['game'].apply(lambda x: team(x,1))
df.dropna(inplace=True)
df.drop(columns=['game'],inplace=True)
df

,odds_home,odds_draw,odds_away,home_team,away_team
0,4.19,3.46,1.93,Sheffield United,Tottenham Hotspur
1,2.01,3.89,3.44,Manchester City,Liverpool
2,3.30,3.30,2.27,Norwich City,Brighton & Hove Albion
3,1.68,3.64,5.61,Leicester City,Crystal Palace
4,1.16,7.65,18.52,Manchester United,AFC Bournemouth
5,2.30,3.28,3.26,Wolverhampton Wanderers,Arsenal
6,1.43,4.53,7.76,Chelsea,Watford
7,2.84,3.00,2.74,Burnley,Sheffield United
8,2.62,3.29,2.75,Newcastle United,West Ham United
9,1.34,5.36,8.45,Liverpool,Aston Villa
10,9.65,5.40,1.32,Southampton,Manchester City
11,2.06,3.56,3.53,Tottenham Hotspur,Everton
12,5.48,3.93,1.64,Crystal Palace,Chelsea
13,1.79,3.78,4.43,Watford,Norwich City
14,2.25,3.54,3.10,Arsenal,Leicester City
15,1.11,8.94,25.59,Manchester City,Newcastle United
16,3.52,3.13,2.25,Sheffield United,Wolverhampton Wanderers
17,2.07,3.42,3.66,West Ham United,Burnley
19,5.05,3.97,1.67,AFC Bournemouth,Tottenham Hotspur
20,1.88,3.65,4.12,Everton,Southampton
21,8.94,5.06,1.35,Aston Villa,Manchester United

In [19]:
df_final =pd.merge(df_final,df,how='left',on=['home_team','away_team'])
df_final=df_final.reset_index(drop=True)

In [20]:
df_final

,link,league,date,round,home_team,away_team,home_position_all,away_position_all,home_winperc_all,away_winperc_all,...,away_form_5,home_previous,draw_previous,away_previous,odds_home_x,odds_draw_x,odds_away_x,odds_home_y,odds_draw_y,odds_away_y
0,https://footystats.org//england/sheffield-unit...,Premier League,"Thu, July 2, 2020",32,Sheffield United,Tottenham Hotspur,10,8,0.35,0.39,...,Draw,0.00,0.66,0.33,NaN,NaN,NaN,4.19,3.46,1.93
1,https://footystats.org//england/manchester-cit...,Premier League,"Thu, July 2, 2020",32,Manchester City,Liverpool,2,1,0.65,0.90,...,Win,0.19,0.37,0.44,NaN,NaN,NaN,2.01,3.89,3.44